.header{
    background-color: #e74c3c;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.laurens_home_banner_img{
    width: 100%;
}

.text_lengend_in_banner{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.music_in_banner{
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.footer{
    background-color: #343840;
}

.laurens_footer_text_name{
    color: white;
}

.ul_footer_links{
    display:flex;
    list-style: none;
}

.li_footer_links{
    padding-left:3px;
    padding-right:3px;
}
